<div class="container-fluid">
    <div class="row-fluid">
      <div class="span5">
        <form class="form-search">
          <input id="address" type="text" placeholder="Type address" class="input-medium search-query">
          <input type="button" class="btn btn-primary" value="Search for a location" onclick="codeAddress()">
        </form>
      </div>

      <div class="span2">
        <span class="title">Overlay opacity</span>
      </div>

      <div class="span5">
        <div id="slider"></div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2">
        <button class="btn btn-primary" onclick="getLocation()"><i class="icon-screenshot icon-white"></i>Show current location</button>
      </div>
      <div class="span2">
        <button class="btn btn-primary" onclick="saveLocation()">Save location</button>
      </div>
    </div>
</div>

<div class="row-fluid" id="marker_info"></div>


<div class="container-fluid" id="map-canvas"></div>
